<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

<!--    <logger name="org.tdslib" level="DEBUG" />-->
<!--    <logger name="org.tdslib" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib.reactive.StatefulRow" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib.tokens.StatefulTokenDecoder" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib.reactive.ReactiveResultVisitor" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib.transport.TdsChunkDecoder" level="TRACE" />-->
<!--    <logger name="org.tdslib.javatdslib.transport.TdsStreamHandler" level="TRACE" />-->

</configuration>